###########################################################
# General Setup
###########################################################

### Application Path ###################################################################################################
# Point to your code, will be available at `/var/www/mindoc`.

APPLICATION=../mindoc_volume/

### GLOBAL ENVIRONMENT #################################################################################################

### 数据库配置 ，如果你的数据库不在容器内或没有用 --link过 那必须要写外部数据库ip
MYSQL_PORT_3306_TCP_ADDR=192.168.4.25
MYSQL_PORT_3306_TCP_PORT=3306
MYSQL_INSTANCE_NAME=mindoc_db
MYSQL_USERNAME=root
MYSQL_PASSWORD=root
# expose port
HTTP_PORT=8181


