body{
    margin: 5px auto;
    padding: 5px 30px;
}
.article-title{
    margin: 15px auto;
    line-height: 35px;
}
.editormd-preview-container{
    padding: 0 !important;
}

.markdown-body pre{
    max-height: none !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}