body {
    position: relative;
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    outline: 0;
}
textarea{
    resize: none;
}
.text{
    font-size: 12px;
    color: #999999;
    font-weight: 200;
}
.error-message{
    color: red;
    font-size: 12px;
}
.success-message{
    color: green;
    font-size: 12px;
}
.input-readonly{
    border: 1px solid rgba(34,36,38,.15);
    background-color: #fff !important;
    -webkit-box-shadow : none;
    box-shadow: none;
}

::-webkit-scrollbar , body  .scrollbar-track-color{
    height: 9px;
    width: 7px;
    background: #E6E6E6;
}
::-webkit-scrollbar:hover {
    background: #CCCCCC;
}
::-webkit-scrollbar-thumb {
    background: #A2A2A2;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.bootstrap-tagsinput{
    display: block !important;
}
.manual-header{
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0;
    box-shadow: rgba(0,0,0,.1)0 1px 5px;
    border-top: 1px solid #009a61;
}
.manual-header  .navbar-brand,.manual-header a {
    font-weight: 500;
    color: #563d7c;
    max-width: 300px;
    white-space:nowrap;
    overflow: hidden;
}
.manual-header .navbar-nav li.active a{
    background-color: #009a61;
    color: #ffffff;
}
.manual-reader .slidebar {
    margin: 5px 10px 0 0;
}
.user-info{
    border: 0;
    background-color: #ffffff;
    padding: 5px 10px !important;
    cursor: pointer;
}
.user-info:hover{
    background-color: #F5F5F5;
}
.user-info-dropdown a{
    font-size: 14px;
    color: #333333;
    height: 30px !important;
    line-height: 25px !important;
}
.user-info-dropdown a>i{
    display: inline-block;
    margin-right: 5px;
}
.userbar-avatar{
    display: inline-block;
    width: 43px;
    height: 43px;
    margin-right: 15px;
}
.userbar-content{
    display: inline-block;
    vertical-align: middle;
}
.userbar-content span{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 40px;
    color: #3d444f;
}
.userbar-content div{
    font-size: 12px;
    line-height: 1;
    color: #9ba3af;
}
/**************首页标签*******************/
.tag-container-outer{
    border-bottom: 1px solid #eee;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
    position: relative;
    display: block !important;
    margin-top: 15px;
}
.tag-container-outer .title{
    font-weight: 400;
    font-size: 14px;
}

.tag-container-outer .tags a{
    display: inline-block;
    vertical-align: baseline;
    line-height: 1;
    border-radius: 0.3rem;
    transition: background .1s ease;
    cursor: pointer;
    background-color: #e0e0e0;
    margin: 0 .5em .5em 0!important;
    padding: 0.5rem 0.8rem;
    color: #999999;
    opacity: 0.8;
}
.tag-container-outer .tags a:hover{
    color: #666666;
    opacity: 1;
}
.tag-container-outer .tags a>.detail{
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    margin-left: 1em;
    opacity: .8
}
/*********************************/
.manual-body{
    margin-top: 53px;
}
.manual-body .page-left{
    position: fixed;
    overflow: auto;
    top: 50px;
    bottom: 0;
    z-index: 100;
    width: 199px;
    background-color: #f5f5f5;
    border-right: 1px solid #eaeaea
}

.manual-body .page-left .menu {
    padding: 18px 0
}
.manual-body .page-left .menu li {
    height: 36px;
    line-height: 0
}
.manual-body .page-left .menu .item {
    display: block;
    padding: 8px 24px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
    text-decoration: none;
}
.manual-body .page-left .menu .item:hover {
    background-color: #eee;
    text-decoration: none;
}
.manual-body .page-left .menu a:visited{
    text-decoration: none;
}
.manual-body .page-left .menu li.active .item{
    background-color: #DDB;
}
.manual-body .page-right {
    padding: 15px 0 15px 24px;
    margin-left: 200px;
    min-width: 400px;
}

.manual-body .page-right .box-head{
    border-bottom: 1px solid #DDDDD9;
}
.m-box .box-head .box-title {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding-bottom: 3px;
    border-bottom: 2px solid #44B035;
    margin-bottom: -1px;
    min-width: 80px;
    font-weight: 200;
    font-size: 18px;
}
.manual-body .page-right .box-body {
    padding: 12px 0;
    position: relative;
}

.manual-body .page-right .box-body label{
    font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222222;
    font-weight: 300;
}

.manual-body .page-right .box-body .form-right{
    position: absolute;
    right: 0;
    top: 34px
}
/*************网站首页******************/
.manual-list{
    margin: 15px auto;
}
.manual-list .list-item{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin: 18px 0;
    height: 280px
}
.manual-list .list-item .manual-item-standard{
    float: left;
    width: 163px;
    line-height: 1.5em;
    position: relative;
}
.manual-list .list-item .manual-item-standard>dt{
    margin-bottom: 6px;
    height: 231px;
    position: relative;
}
.manual-list .list-item .manual-item-standard>dt>a {
    display: block;
    position: relative;
    width: 100%;
}
.manual-list .list-item .manual-item-standard>dt>a .image{
    position: relative;
    /*display: none;*/
}
.manual-list .list-item .manual-item-standard .cover {
    border: none;
    width: 170px;
    position: relative;
    display: inline-block;
    height: 230px;
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.manual-list .list-item .manual-item-standard .b-cover:hover {
    border-color: #4db559;
    box-shadow: 0 0 4px rgba(77,181,89,.7)
}
.manual-list .list-item .manual-item-standard a.name {
    vertical-align: top;
    word-wrap: normal;
    font-size: 16px;
    color: #666;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}
.manual-list .list-item .manual-item-standard a.name:hover{
    color: #333333;
}
.manual-list .list-item .manual-item-standard .author{
    zoom:1;vertical-align: top;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #484848;
    font-size: 13px;
}
.manual-list .list-item .manual-item-standard .author>.text{
    font-weight: 200;
    color: #484848;
}


/*************文档列表******************/
.book-list .list-item{
    display: block;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #dddddd;
    padding: 15px 10px;
}
.book-list .list-item:hover{
    background: #eaeaea;
}
.book-list .list-item a{
    color: #666666;
    font-size: 16px;
    text-decoration: none;
}
.book-list .list-item .pull-right a{
    font-size: 12px;
}
.book-list .list-item a:hover{
    text-decoration: none;
    color: #428bca;
}
.book-list .list-item .desc-text{
    font-size: 12px;
    margin: 5px;
}
.book-list .list-item .info{
    font-size: 12px;
    color: #666666;
}
.book-list .list-item .info span{
    display: inline-block;
    padding-right: 10px;
}
/************文档概述*****************/
.dashboard{

}
.dashboard .list{
    zoom: 1;
    line-height: 35px;
}
.dashboard .summary{
    margin-top: 15px;
}
/************文档成员*************************/
.users-list .list-item{
    padding: 12px;
    border-bottom: 1px dotted #EEE;
}
.users-list .list-item:hover {
    background-color: #F9F9F9
}
.users-list .list-item .operate{
    float: right;
}
/**************用户搜索界面样式********************/
.searchbar{
    padding: 8px;
}
.searchbar .search-btn {
    display: inline-block;
    line-height: 100%;
    cursor: pointer;
    margin-top: -10px;
    margin-left: -45px;
    border: 0;
    background-color: transparent
}
.searchbar .search-btn>i.fa{
    padding: 10px;
}
.manual-search-reader .manual-body{
    margin-top: 60px;
}
.manual-search-reader .search-head{
    margin: 10px auto;
    padding-bottom: 15px;
    line-height: 1.5em;
    border-bottom: 3px solid #EEEEEE;
}
.manual-search-reader .search-head .search-title{
    font-size: 22px;
    font-weight: 300;
}
.manual-search-reader .search-body {
    margin-top: 80px;
}
.manual-search-reader .search-empty{
	margin:150px auto;
	text-align:center; 
}
.manual-search-reader .search-empty .empty-text {
    font-size: 18px;
    display: block;
    margin: 24px;
    text-align: center;
    opacity: .5;
    filter: alpha(opacity=50)
}
.manual-search-reader .search-empty .empty-image{
    margin: 5px auto;
    display: block;
    text-align: center;
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.manual-search-reader .search-item{
    margin: 0 15px;
    padding: 10px 20px;
    line-height: 25px;
}
.manual-search-reader .search-item:hover{
    background-color: #F5F5F5;
}
.manual-search-reader .search-item a{
    color: #0886E9;
}
.manual-search-reader .search-item em{
    color: #FF802C;
    font-style:normal;
}
.manual-search-reader .search-item .title{
    font-size: 16px;
    font-weight: 400;
}
.manual-search-reader .search-item .description{
    color: #666;
    line-height: 25px;
    min-height: 20px;
    font-size: 12px;
}
.manual-search-reader .search-item .site {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 600px;
    color: #008000;
    font-size: 12px;
}
.manual-search-reader .search-item .source .item {
    display: inline-block;
    margin-right: 15px;
}
.manual-search-reader .search-item .source,.manual-search-reader .search-item .source a{
    font-size: 12px;
    color: #999999;
}

/**************用户登录界面样式*******************/
.login .login-body{
    width: 400px;
    padding: 5px 30px 25px 30px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.login .login-body .tooltip.bottom .tooltip-arrow,.has-error .tooltip.bottom .tooltip-arrow{
    border-bottom-color: #a94442;
}
.login .login-body .tooltip.top .tooltip-arrow,.has-error .tooltip.top .tooltip-arrow{
    border-top-color: #a94442;
}
.login .login-body .tooltip.right .tooltip-arrow,.has-error .tooltip.right .tooltip-arrow{
    border-top-color: #a94442;
}
.login .login-body .tooltip.left .tooltip-arrow,.has-error .tooltip.left .tooltip-arrow{
    border-top-color: #a94442;
}
.login .login-body .tooltip-inner,.has-error .tooltip-inner{
    background-color: #a94442;
}
/************图片上传样式*******************/

#upload-logo-panel .wraper{
    float: left;
    background: #f6f6f6;
    position: relative;
    width: 360px;
    height: 360px;
    overflow: hidden;
}
#upload-logo-panel .watch-crop-list{
    width: 170px;
    padding:10px 20px;
    margin-left: 10px;
    background-color: #f6f6f6;
    text-align: center;
    float: right;
    height: 360px;
}
#image-wraper{
    text-align: center;
}
.webuploader-pick{

}
.webuploader-pick-hover{

}
.webuploader-container{
    padding: 0;
    border: 0;
    height: 40px;
}
.watch-crop-list>ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.webuploader-container div{
    width: 77px !important;
    height: 40px !important;
    left: 0 !important;
}
.img-preview {
    margin: 5px auto 10px auto;
    text-align: center;
    overflow: hidden;
}
.img-preview > img {
    max-width: 100%;
}
.preview-lg{
    width: 120px;
    height: 120px;
}
.preview-sm{
    width: 60px;
    height: 60px;
}
#error-message{
    font-size: 13px;
    color: red;
    vertical-align: middle;
    margin-top: -10px;
    display: inline-block;
    height: 40px;
}
.manager .dashboard-item{
    float: left;
    width: 100px;
    height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
    cursor: pointer;
    color: #333;
}
.manager .dashboard-item:hover{
    background-color: #563D7C;
    color: #ffffff;
}
.manager .dashboard-item .fa{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.manager .dashboard-item .fa-class {
    display: block;
    text-align: center;
    word-wrap: break-word; /* Help out IE10+ with class names */
}

.pagination-container {
    margin: 5px auto;
    display: block !important;
}
.pagination-container .pagination{
    box-shadow: 0 1px 2px 0 #e3e3e0;
}
.pagination-container .pagination>li>a,.pagination-container .pagination>li>span{
    padding: 8px 16px !important;
}
.pagination-container .pagination>li>a,.pagination-container  .pagination>li>span{
    color: #272727;
}
.pagination-container .pagination>.active>a{
    /*color: #fff;*/
    background-color: #f3f3f3;
    border: 1px solid #e3e3e0;
}
.pagination-container .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    color: #272727;
}

/**************网站底部样式*************************/
.footer{
    color: #777;
    padding: 30px 0;
    margin-top: 70px;
    font-size: 12px;
    background-color: #ffffff;
    bottom: 0;
}
.footer .container{
    padding: 0;
}
.footer .container .row{
    margin-left: 220px;
    border-top: 2px solid #DDDDD9;
    padding-top: 20px;
    opacity : 0.8;
    font-size: 13px;
}
.manual-container .footer .container .row{
    margin-left: 0;
}
.footer li {
    display: inline-block;
}
.footer li a{
    color: #222;
    text-decoration: none;
}
.footer li a:hover {
    color: #2b85ae
}
@media screen and (max-width: 840px) {
    .manual-body .page-left{
        display: none;
    }
    .manual-body .page-right {
        margin-left: 0;
    }
    .manual-body .page-right .box-body .form-right{
        display: none;
    }
    .manual-body .page-right .box-body{
        padding-right: 0 !important;
    }
    .footer .container .row{
        margin-left: 0;
    }
}





