body{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
::-webkit-scrollbar , body  .scrollbar-track-color{
    height: 9px;
    width: 7px;
    background: #E6E6E6;
}
::-webkit-scrollbar:hover {
    background: #CCCCCC;
}
::-webkit-scrollbar-thumb {
    background: #A2A2A2;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.error-message{
    color: red;
}
.manual-head{
    padding: 5px 5px 5px 5px;
    position: fixed;
    width: 100%;
}
.manual-category{
    width: 280px;
    position: fixed;
    border-top: 1px solid #DDDDDD;
    bottom: 0;
    top: 40px;
    background-color: #FAFAFA;
}
.manual-category .manual-nav {
    font-size: 14px;
    color: #333333;
    font-weight: 200;
    zoom:1;
    border-bottom: 1px solid #ddd
}
.manual-category .manual-tree{
    margin-top: 10px;
}
.manual-category .manual-nav .nav-item{
    font-size: 14px;
    padding: 0 9px;
    cursor: pointer;
    float: left;
    height: 30px;
    line-height: 30px;
    color: #666;
}
.manual-category .manual-nav .nav-plus {
    color: #999;
    cursor: pointer;
    height: 24px;
    width: 24px;
    line-height: 24px;
    display: inline-block;
    margin-top: 4px
}
.manual-category .manual-nav .nav-plus:hover{
    color: #333333;
}
.manual-category .manual-nav .nav-item.active{
    border-bottom: 1px solid #fafafa;
    margin-bottom: -1px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-left: 8px;
    padding-right: 8px;
}
.manual-editor-container{
    position: absolute;
    left: 280px;
    top: 40px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-top: 1px solid #DDDDDD;
}
.manual-editor-container .manual-editormd{
    position: absolute;
    bottom: 30px;
    top: -1px;
    left: 0;
    right: 0;
}
.manual-editor-container .manual-editormd .manual-editormd-active,
.manual-wangEditor,.manual-wangEditor .wangEditor-container,
.manual-wangEditor .wangEditor-container .wangEditor-txt{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
.manual-wangEditor,.manual-wangEditor .wangEditor-container{
    bottom: 15px;
    border-top: 0;
    overflow: hidden;
}
.manual-wangEditor .wangEditor-container .wangEditor-txt{
    top: 32px;
}
.manual-wangEditor .wangEditor-container .wangEditor-menu-container{
    position: fixed;
    z-index: 10000;
}
.manual-wangEditor .wangEditor-container .code-textarea{
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0;
    right: 0;
}
.editormd-group{
    float: left;
    height: 32px;
    margin-right: 10px;
}
.editormd-group a{
    float: left;
}
.editormd-group a.change{

}
.editormd-group .change i{
    color: #ffffff;
    background-color: #44B036 !important;
    border: 1px #44B036 solid !important;
}
.editormd-group .change i:hover{
    background-color: #58CB48 !important;
}
.editormd-group .disabled i:hover{
    background: #ffffff !important;
}
.editormd-group a.disabled{
    border-color: #c9c9c9;
    opacity: .6;
    cursor: default
}
.editormd-group a>i {
    display: inline-block;
    width: 34px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #4b4b4b;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    font-size: 15px
}
.editormd-group a>i.item{
    border-radius: 0;
    border-right: 0;
}
.editormd-group a>i.last{
    border-bottom-left-radius:0;
    border-top-left-radius:0;
}
.editormd-group a>i.first{
    border-right: 0;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
}
.editormd-group  a i:hover {
    background-color: #e4e4e4
}

.editormd-group  a i:after {
    display: block;
    overflow: hidden;
    line-height: 30px;
    text-align: center;
    font-family: icomoon,Helvetica,Arial,sans-serif;
    font-style: normal;
}



.manual-editor-status{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    overflow: hidden;
    border-left: 1px solid #DDDDDD;
    color: #555;
    background-color: #FAFAFA;
    z-index: 1000;
}