appname = godoc
# httpaddr = 127.0.0.1
httpport = 8181
runmode = dev
sessionon = true
sessionname = mindoc_id
copyrequestbody = true

#默认Session生成Key的秘钥
beegoserversessionkey=123456

########Session储存方式##############
#以文件方式储存
sessionprovider=file
sessionproviderconfig=./logs
#以redis方式储存
#sessionprovider=redis
#sessionproviderconfig=127.0.0.1:6379
#以memcache方式储存
#sessionprovider=memcache
#sessionproviderconfig=127.0.0.1:11211
#以内存方式托管Session
#sessionprovider=memory

#时区设置
timezone = Asia/Shanghai

####################MySQL 数据库配置###########################
#支持MySQL和sqlite3两种数据库，如果是sqlite3 则 db_database 标识数据库的物理目录
db_adapter=mysql
db_host=127.0.0.1
db_port=3306
db_database=mindoc_db
db_username=root
db_password=123456

####################sqlite3 数据库配置###########################
#db_adapter=sqlite3
#db_database=./database/mindoc.db

#项目默认封面
cover=/static/images/book.jpg

#默认头像
avatar=/static/images/headimgurl.jpg

#默认阅读令牌长度
token_size=12

#上传文件的后缀
upload_file_ext=txt|doc|docx|xls|xlsx|ppt|pptx|pdf|7z|rar|jpg|jpeg|png|gif

####################邮件配置######################
#是否启用邮件
enable_mail=false
#每小时限制指定邮箱邮件发送次数
mail_number=5
#smtp服务用户名
smtp_user_name=admin@iminho.me
#smtp服务器地址
smtp_host=smtp.ym.163.com
#smtp密码
smtp_password=
#端口号
smtp_port=25
#发送邮件的显示名称
form_user_name=admin@iminho.me
#邮件有效期30分钟
mail_expired=30


###############配置PDF生成工具地址###################
wkhtmltopdf=D:/Program Files/wkhtmltopdf/bin/wkhtmltopdf.exe

###############配置CDN加速##################
cdn=
cdnjs=
cdncss=
cdnimg=

################百度地图密钥#################
baidumapkey=

################Active Directory/LDAP################
#是否启用ldap
ldap_enable=false
#ldap主机名
ldap_host=ad.example.com
#ldap端口
ldap_port=3268
#ldap内哪个属性作为用户名
ldap_attribute=sAMAccountName
#搜索范围
ldap_base=DC=example,DC=com
#第一次绑定ldap用户dn
ldap_user=CN=ldap helper,OU=example.com,DC=example,DC=com
#第一次绑定ldap用户密码
ldap_password=superSecret
#自动注册用户角色：0 超级管理员 /1 管理员/ 2 普通用户 
ldap_user_role=2
#ldap搜索filter规则,AD服务器: objectClass=User, openldap服务器: objectClass=posixAccount ,也可以定义为其他属性,如: title=mindoc
ldap_filter=objectClass=posixAccount












