appname = smartwebhook
# httpaddr = 127.0.0.1
httpport = 8181
runmode = dev
sessionon = true
sessionname = smart_webhook_id
copyrequestbody = true

#生成回调地址时完整的域名
base_url = https://hook.iminho.me

#时区设置
timezone = Asia/Shanghai

#数据库配置
db_host=127.0.0.1
db_port=3306
db_database=webhook_db
db_username=root
db_password=123456
db_prefix=md_

#项目默认封面
cover=/static/images/book.jpg

#默认头像
avatar=/static/images/headimgurl.jpg

#默认阅读令牌长度
token_size=12